<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>KLE CBSE School Chikodi</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

  <!-- responsive style -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">

</head>
        {%block content%}

        {%endblock%}

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="#">KLE's CBSE School Chikodi</a>
    </p>
  </section>
  <!-- footer section -->

  <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: {
        	 
          lat: 16.435427,
          lng: 74.601728
        }
      });

      var image = "{{url_for('static', filename='images/maps-and-flags.png')}}";
      var beachMarker = new google.maps.Marker({
        position: {
            lat: 16.435427,
            lng: 74.601728
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
  </body>
</html>
